@charset "utf-8";html,body,div,span,iframe,h1,h2,h3,h4,h5,p,pre,em,img,strong,b,i,dl,dt,dd,ul,li,fieldset,form,label,legend,table,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0}a,input,button{padding:0;margin:0;outline:0}h1,h2,h3,h4,h5{font-size:100%}body{font:12px "microsoft yahei"}ul{list-style:none}a{text-decoration:none}a,button{cursor:pointer}table{border-collapse:collapse;border-spacing:0}input,select,img{vertical-align:middle}a{color:black;text-decoration: none;}
body{background: #e7e7e7;}

/*-----------------------------header start -----------------------------------------*/
.header_small{text-align:center;width: 100%;height: 45px;position: fixed;left: 0;top:0;border: 1px #c7c3c3 solid;background: #f8f8f8;z-index: 998;box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.32);_display:none;}
.header_small .logo{line-height: 45px;float: left;margin-left: 10px;}
.header_small .nav_toggle{border-radius:3px;width: 49px;height: 32px;position: relative;float:right;right: 10px;top:7px;bottom:7px;border: 1px #c7c3c3 solid;}
.header_small .nav_toggle span{background: #7b7070;height:3px;width: 72%;display: block;margin: 6px auto 2px;}

.header{ width: 100%;  height: 45px; right: 0; top:0; border-bottom: 1px solid #e7e7e7; position: fixed;z-index: 999; background: #f8f8f8; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.32);_position: absolute;}
.header .nav_list{width: 600px;height: 100%;margin: 0 auto;float: right;}
.header .nav_list .nav{width: 19%;height: 100%;display: inline-block;float: left;line-height: 45px;text-align: center;}
.header .nav_list .nav a{width: 100%;height: 100%;display: block;text-decoration: none;}
.header .nav_list .nav a.on{background: #e7e7e7;box-shadow: 0 0 14px #e7e7e7;z-index: 1000;position: relative;border-left: 1px solid #d9ecd9;border-right: 1px solid #d9ecd9;}
.header .nav_list .nav a:hover{background: #d6eadc;}

.header_small_size{width: 150px;margin-top: 48px;margin-right: 8px;height:auto;box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.32);display: none;}
.header_small_size .nav_list{width: 100%;}
.header_small_size .nav_list .nav{width: 100%;background: #f8f8f8;}
.header_small_size .nav_list .nav a.on{border-left: 8px groove #a1c8dc;left: -9px;}

/*-----------------------------header end  ------------------------------------------*/


.main{border-radius:7px;background:none;width: 1000px;height:auto;min-height: 500px; top:50px; margin: 10px auto;padding: 5px;  position: relative;  border: 0px solid gainsboro;}
.main_small_size{width: 93%;}
.main_smallest_size{width: 300px;margin-left: 10px;}

/*-----------------------------footer start ------------------------------------------*/
.footer{width: 100%;height: 150px;bottom: 0;position: relative;margin-top: 66px;border-top: 1px solid gainsboro;}
.footer .footer_main{width: 1012px;height: 100%;margin: 0 auto;}
.footer .footer_main_small{width: 93%;}
.footer .footer_main .footer_main_content{width: 70%;height: 100px;margin: 0 auto;display: block;padding-top: 40px;padding-bottom:10px;text-align: center;}
.footer .footer_main_small .footer_main_content{width: 100%;}

/*-----------------------------footer end   ------------------------------------------*/