.main .content_main{width: 90%;min-height:80px;margin: 0 auto 20px auto;border-radius: 5px;padding-bottom: 20px;border: 6px solid white;background: #fbfbfb;}

.main .content_main a:hover{text-decoration: underline;}

.main .content_main .content_header{width: 100%;height: 40px;display: block;line-height: 40px;background: none;text-indent: 10px;border-radius: 5px 5px 0 0;/*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.32);*/overflow: hidden;}
.main .content_main .article_list{padding-top: 20px;width: 100%;height: auto;display: inline-block;border-radius: 9px 9px 0 0;/*background: greenyellow;*/}
.main .content_main .article_overview{width: 33.3%;height: 200px;display: inline-block;float:left;position: relative;border-radius: 9px 9px 0 0;margin-bottom: 10px;/*background: wheat;*/}
.main .content_main .article_overview:hover{z-index: 1;}

.main .content_main .article_overview .article_overview_wrap{background: #e7e7e7;width: 90%;margin: 0 auto;height: auto;border: 3px solid white;border-radius: 5px;}
.main .content_main .article_overview .article_overview_wrap:hover{background: white;box-shadow: 0 0px 14px 0 rgba(0,0,0,0.32);border-color: #91a091;}

.main .content_main .article_overview .content_header{width: 100%;margin: 0 auto;}
.main .content_main .article_overview .content_header .content_header_title{float: left;font-size: 0.855em;width: 210px;height: 40px;overflow: hidden;}
.main .content_main .article_overview .content_header .content_header_avatar{position:relative;overflow:hidden;right:13px;float:right;display: inline-block;width: 34px;height: 34px;border-radius:17px;top:3px;border: 1px solid white;}
.main .content_main .article_overview .content_header .content_header_avatar img{width: 34px;height: 34px;position: relative;display: block;border-radius: 17px;}


.main .content_main .article_overview .overview_img{width: 100%;height: auto;margin: 0 auto;padding: 10px 0 10px 0;display: none;border-bottom: 1px solid #b7b2b2;}
.main .content_main .article_overview .overview_img .content_header_img{display: block;width: 90%;margin: 0 auto;box-shadow: 0px 0px 2px 0px;}
.main .content_main .article_overview:hover .overview_img{display: block;}

.main .content_main .article_overview .preview_content{width: 100%;line-height:17px;font-size: 0.875em;border-radius:0 0 10px 10px;margin: 8px auto;}
.main .content_main .article_overview .preview_content .preview_content_show{text-overflow:ellipsis; width:94.1%;margin: 0 auto;position: relative;}

.main .content_main .article_overview_middle{width: 50%;}
.main .content_main .article_overview_middle .preview_content .preview_content_show{width:96%;}
.main .content_main .article_overview_small{width: 100%;height: auto;}
.main .content_main .article_overview_small .overview_img{display: block;}

.main .content_main_small{width: 100%}

.main .main_hot .content_header{background: #cad0c0;}
.main .main_recommend .content_header{background: #d4cbcb;}
.main .main_brilliant .content_header{background: #c6d0da;}
.main .main_newest .content_header{background: #eae19d;}

/*热点轮播图*/
.main .main_hot_recommend{padding-bottom: 0;height: 351px;}
.main .main_hot_recommend .hot_recommend_scroll{width: 100%;height:351px;display: block;margin:0 auto;position: relative;overflow:hidden;}
.main .main_hot_recommend .hot_recommend_scroll div{width: 100%;height: 100%;overflow: hidden;}
.main .main_hot_recommend .hot_recommend_scroll div img{width: 100%;height: 100%;}
.main .main_hot_recommend .hot_recommend_select{border: 0px solid greenyellow;width: 80%;height:25px;display: block;margin:10px auto;position: relative;overflow:hidden;top:-40px;}
.main .main_hot_recommend .hot_recommend_select ul{display: block;height: 100%;width: 100%;margin: 0 auto;overflow: hidden;}
.main .main_hot_recommend .hot_recommend_select li{background: #c2d0ce;display: inline-block;width:15px;height: 15px;float: left;text-align:center;line-height: 30px;/*border: 1px #7d7d77 solid;*/margin: 5px;cursor: pointer;opacity: 0.3;filter:alpha(opacity=40);border-radius: 7.5px;}
.main .main_hot_recommend .hot_recommend_select .on{opacity: 1;filter:alpha(opacity=100);}